{% extends "layout.html" %}

{% block corps %}

<form action="/comparaison/" method="POST">
    <div class="selectionDossier">
        <h4>Pour pouvoir comparer et synchroniser deux dossiers, veuillez entrer un chemin de répertoire dans les deux champs ci-dessous</h4>
        <div class="dossierSource">
            <label for="dossierSource">Dossier Source :</label>
            <br>
            <input type="text" name="dossierSource" placeholder="Renseigner un emplacement dossier..." required="required">
        </div>

        <div class="dossierDestination">
            <label for="dossierDestination">Dossier Destination :</label>
            <br>
            <input type="text" name="dossierDestination" placeholder="Renseigner un emplacement dossier..." required="required">
        </div>
    </div>

    <div class="validationChemin">
        <button class="button">Valider les deux emplacements</button>
    </div>
</form>

<div class="navigation">
    <a href="/comparaison/">Comparaison &gt&gt</a>
</div>

{% endblock %}