{% extends "layout.html" %}

{% block corps %}

<form action="/savefiltre/" method="POST">
    <div class="filtre">
        <h4>Sélectionnez une extension de fichier et comparer les deux dossiers :</h4>
        <div class="check">
            <input type="checkbox" id="docx" value="docx" name="mycheckbox"><span>.docx</span>
            <input type="checkbox" id="exe" value="exe" name="mycheckbox"><span>.exe</span>
            <input type="checkbox" id="html" value="html" name="mycheckbox"><span>.html</span>
            <input type="checkbox" id="jpg" value="jpg" name="mycheckbox"><span>.jpg</span>
            <input type="checkbox" id="pdf" value="pdf" name="mycheckbox"><span>.pdf</span>
            <input type="checkbox" id="png" value="png" name="mycheckbox"><span>.png</span>
            <input type="checkbox" id="pptx" value="pptx" name="mycheckbox"><span>.pptx</span>
            <input type="checkbox" id="py" value="py" name="mycheckbox"><span>.py</span>
            <input type="checkbox" id="txt" value="txt" name="mycheckbox"><span>.txt</span>
            <input type="checkbox" id="xlsx" value="xlsx" name="mycheckbox"><span>.xlsx</span>
        </div>
        <div class="buttonFiltre">
            <button class="button">Valider</button>
        </div>
    </div>
</form>

<div class="navigation">
    <div class="navAcc">
        <a href="/accueil">&lt&lt Accueil</a>
    </div>
    <div class="navSync">
        <a href="/synchronisation">Synchronisation &gt&gt</a>
    </div>
</div>

{% endblock %}