{% extends "layout.html" %}

{% block corps %}

<h5>{{msg}}</h5>

<form action="/save_synchronisation/" method="POST">
    <div class="synchronisationDossier">
        <h4>Lancer la synchronisation des répertoires renseignés précédement</h4>
        <div class="buttonSynchro">
            <button>Synchronisation</button>
        </div>
    </div>
</form>

<div class="navigation">
    <div class="navAcc">
        <a href="/accueil">&lt&lt Accueil</a>
    </div>
</div>

{% endblock %}