{% extends "layout.html" %}

{% block corps %}

<div class="synchronisationDossier">
    <h4>Lancer la synchronisation des répertoires renseignés dans l'onglet accueil :</h4>
</div>

<div id="progress">
    <p>Synchronisation en cours... <strong>0%</strong></p>
    <progress value="0" min="0" max="100">0%</progress>
</div>

<div class="buttonSynchro">
    <input type="button" name="Submit" value="Synchronisation" 
    onclick="itv = setInterval(function(){ modifValues(); },40)"/>
    <input type="button" name="Submit" value="Stopper"
     onclick= "stop()" />
</div>

<br>
<div id="etatSynchro">
    
</div>


<div class="navigation"v>
    <a href="/accueil">&lt&lt Accueil</a>
</div>

<script>
    function modifValues() {
        var itv = 0; // id pour setinterval
        var val = $('#progress progress').attr('value');
        if(val>=100){val=0;}
        var newVal = val*1+0.25;
        var txt = Math.floor(newVal)+'%'

        $('#progress progress').attr('value',newVal).text(txt);
        $('#progress strong').html(txt);
    }

    function stop(){
        var txt;
        var r = confirm("la synchronisation est sur pause.\n Voulez-vous rependre ?");
        if (r == true) {
            txt = "la sychronisation à repris son execution";
        } else {
            alert("la synchronisation est annulée");
            document.location.reload();
        }
        document.getElementById("etatSynchro").innerHTML = txt;
    }
  


</script>

{% endblock %}